<div class="container-lg" style="margin-top: 96px">
  <div class="row">
    <div class="col-12" style="padding: 0 0 40px">
      <h2 class="text-center landing-title">اتاق‌های پیشنهادی</h2>
    </div>
  </div>
  <main class="row">
    <!-- <div class="col-12">
      <p class="survey__description">
        از اینکه به هم‌اتاقی اعتماد کردید متشکریم. متاسفانه در حال حاضر اتاقی
        وجود ندارد. شما به صورت خودکار به یک اتاق ملحق خواهید شد. اتاق شما به
        زودی با افراد همدل تکمیل خواهد شد. لطفا شکیبا باشید. در نظر داشته باشید
        که عضویت فرد جدید در این اتاق ملزم تایید درخواست هم‌اتاقی ارسالی اوست.
        با ارسال درخواست هم‌اتاقی جدید به شما برای بررسی اطلاع خواهیم داد.
      </p>
    </div> -->
    <div class="col-12">
      <p class="survey__description">
        از اینکه به هم‌اتاقی اعتماد کردید متشکریم. در این مرحله اتاق‌هایی که
        افراد آن بیشترین شباهت را به شما دارند را به شما پیشنهاد دادیم. برای
        اتاقی مدنظر خود درخواست هم‌اتاقی ارسال نمایید. پس از تایید تمام اعضای
        اتاق، کارشناسان ما برای ثبت نهایی با شما تماس خواهند گرفت.
      </p>
    </div>
    <div class="col-12 mt-5">
      <survey-rooms-list></survey-rooms-list>
    </div>
  </main>
</div>
