<div class="container">
  <form
    class="item d-flex flex-column align-items-center"
    [formGroup]="formGroup"
    (ngSubmit)="handleLogin()"
  >
    <div class="d-flex mb-40">
      <img class="d-40 ml-2" src="assets/images/hamotaghi-logo.png" alt="" />
      <div class="f-peyda fs-35 fw-bold">هم اتاقی</div>
    </div>

    <h1 class="fs-20 mb-22 f-peyda">ورود</h1>

    <label for="email" class="w-100">ایمیل</label>
    <input
      type="email"
      formControlName="email"
      name="email"
      placeholder="name@example.com"
      class="w-250 h-38 br-4 border-1-gray pr-2 fs-15"
    />
    <label for="password" class="mt-15 w-100">رمز عبور</label>
    <input
      type="password"
      formControlName="password"
      name="password"
      class="w-250 h-38 br-4 border-1-gray pr-2 fs-15"
    />

    <button
      class="btn btn-primary br-4 mt-15 w-250 f-iransans"
      type="submit"
      [disabled]="formGroup.invalid"
    >
      ورود به هم اتاقی
    </button>
    <a class="d-flex align-items-center mt-15" routerLink="/auth/register">
      حساب کاربری ندارید؟ ثبت نام کنید!
    </a>
    <a class="d-flex align-items-center mt-80" routerLink="/">
      <div class="fs-20 ml-2 f-iransans">بازگشت</div>
      <img
        class="w-22 h-100 position-relative top-1"
        src="assets/images/arrow.png"
      />
    </a>
  </form>
</div>
