<app-navbar></app-navbar>

<div class="container-lg" style="margin-top: 96px">
  <div class="row">
    <div class="col-12 col-md-6 mb-5 mb-md-0">
      <div class="introduction">
        <h2 class="landing-title">به هم‌اتاقی خوش آمدید!</h2>
        <p>
          آیا به دنبال یک هم‌اتاقی مناسب هستید که با شخصیت و سبک زندگی شما
          همخوانی داشته باشد؟ هم اتاقی برای کمک به شما طراحی شده است! ما در هم
          اتاقی با استفاده از یک فرم شخصیت شناسی، به شما افرادی را پیشنهاد
          می‌دهیم که می‌توانند بهترین هم‌اتاقی برای شما باشند تا از زمان اقامت
          خود بیشترین لذت را ببرید.
        </p>
        <div>
          <a href="#" class="btn btn-primary">هم‌اتاقی خود را پیدا کنید</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img src="../../../assets/images/home1.jpg" alt="" class="img-fluid" />
    </div>
  </div>
</div>
<div class="container-lg ho-section">
  <div class="row">
    <div class="col-12" style="padding: 0 0 40px">
      <h2 class="text-center landing-title">چگونه کار می‌کند؟</h2>
    </div>
    <div class="col-md-4 col-12 mb-4 mb-md-0">
      <div class="how-it-works-wrapper">
        <div class="how-it-works_icon">
          <img
            src="../../../assets/images/svg/form.svg"
            alt="تکمیل فرم شخصیت شناسی"
          />
        </div>
        <h3 class="how-it-works_title">تکمیل فرم شخصیت شناسی</h3>
        <p class="how-it-works_description">
          ابتدا با پر کردن یک فرم ساده، اطلاعاتی درباره شخصیت، عادت‌ها و ترجیحات
          خود به ما می‌دهید.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-12 mb-4 mb-md-0">
      <div class="how-it-works-wrapper">
        <div class="how-it-works_icon">
          <img
            src="../../../assets/images/svg/refer.svg"
            alt="پیشنهاد هم اتاقی‌ها"
          />
        </div>
        <h3 class="how-it-works_title">پیشنهاد هم اتاقی‌ها</h3>
        <p class="how-it-works_description">
          بر اساس اطلاعاتی که از شما دریافت می‌کنیم، چهار نفر که بهترین همخوانی
          را با شما دارند به شما معرفی می‌کنیم.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-12 mb-4 mb-md-0">
      <div class="how-it-works-wrapper">
        <div class="how-it-works_icon">
          <img src="../../../assets/images/svg/result.svg" alt="انتخاب نهایی" />
        </div>
        <h3 class="how-it-works_title">انتخاب نهایی</h3>
        <p class="how-it-works_description">
          شما می‌توانید از بین افراد پیشنهادی، هم اتاقی خود انتخاب کنید و ما به
          شما در برقراری ارتباط با او کمک می‌کنیم.
        </p>
      </div>
    </div>
    <div class="col-12 text-center" style="padding: 50px 0 0">
      <a href="#" class="btn btn-primary">هم‌اتاقی مناسب خود را پیدا کنید</a>
    </div>
  </div>
</div>
<div class="container-lg ho-section">
  <div class="row">
    <div class="col-12 col-md-6 mb-5 mb-md-0">
      <img src="../../../assets/images/home2.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6">
      <div class="d-flex flex-column justify-content-center h-100">
        <div class="why-us">
          <h2 class="why-us-title landing-title">چرا هم اتاقی؟</h2>
          <div class="why-us_item">
            <h3 class="why-us_item__title">پشتیبانی مداوم</h3>
            <p class="why-us_item__description">
              تیم ما همیشه در کنار شماست تا هر گونه سؤال یا نیازی که دارید را
              پاسخ دهد.
            </p>
          </div>
          <div class="why-us_item">
            <h3 class="why-us_item__title">محیطی امن و دوستانه</h3>
            <p class="why-us_item__description">
              هدف ما ایجاد محیطی آرام و ایمن برای شماست.
            </p>
          </div>
          <div class="why-us_item">
            <h3 class="why-us_item__title">ارتباطات موثر</h3>
            <p class="why-us_item__description">
              ما به شما کمک می‌کنیم تا با افرادی که با شما سازگار هستند آشنا
              شوید.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-lg ho-section" style="margin-bottom: 100px">
  <div class="row">
    <div class="col-lg-4 col-md-8 col-8 offset-lg-4 offset-md-2 offset-2">
      <p class="text-center" style="margin: 0 0 24px">
        با پر کردن فرم شخصیت شناسی، اولین گام را به سمت یافتن هم‌اتاقی مناسب
        بردارید. ما منتظر شما هستیم تا تجربه‌ای جدید و دوستانه را با هم‌اتاقی
        آغاز کنید.
      </p>
    </div>
    <div class="col-12 text-center">
      <a href="#" class="btn btn-primary">هم اکنون شروع کنید!</a>
    </div>
  </div>
</div>

<app-footer></app-footer>
