<strong class="survey__question">
  <b>1.</b>
  <span>الگوی خواب شما چه‌گونه است؟</span>
</strong>

<ul class="survey__items">
  <li class="survey__item" (click)="selectItem(0)">
    <i [class.active]="selectedIndex === 0"></i>
    <span>شب‌ها تا دیروقت بیدار می‌مانم و صبح‌ها دیر بیدار می‌شوم.</span>
  </li>
  <li class="survey__item" (click)="selectItem(1)">
    <i [class.active]="selectedIndex === 1"></i>
    <span>شب‌ها تا دیروقت بیدار می‌مانم و صبح‌ها دیر بیدار می‌شوم.</span>
  </li>
  <li class="survey__item" (click)="selectItem(2)">
    <i [class.active]="selectedIndex === 2"></i>
    <span>شب‌ها تا دیروقت بیدار می‌مانم و صبح‌ها دیر بیدار می‌شوم.</span>
  </li>
  <li class="survey__item" (click)="selectItem(3)">
    <i [class.active]="selectedIndex === 3"></i>
    <span>شب‌ها تا دیروقت بیدار می‌مانم و صبح‌ها دیر بیدار می‌شوم.</span>
  </li>
</ul>
