<div class="container">
    <div class="item d-flex flex-column align-items-center">
        <div class="d-flex mb-40">
            <img class="d-40 ml-2" src="./../../../assets/image/hamotaghi-logo.png" alt="">
            <div class="f-peyda fs-35 fw-bold">هم اتاقی</div>
          </div>
          <div class="fs-20 mb-22 f-peyda">
            ورود / ثبت نام
          </div>
          <div class="d-flex flex-column align-items-center f-iransans">
            <input type="text" placeholder="ایمیل" class="w-250 h-38 br-4 border-1-gray pr-2 fs-15">
            <input type="text" class="mt-15 w-250 h-38 br-4 border-1-gray pr-2 fs-15" placeholder="رمز عبور">
          </div>
          <button class="bg-1E2748 w-250 h-38 color-white br-4 mt-15 f-iransans">ورود به هم اتاقی</button>
          <div class="d-flex align-items-center mt-80">
            <div class="fs-20 ml-2 f-iransans">بازگشت</div>
            <img class="w-22 h-100 position-relative top-1" src="./../../../assets/image/arrow.png" alt="">
          </div>
    </div>
</div>