<div class="container-lg">
  <main class="row survey-page__wrapper">
    <div class="col-12 mb-4 text-center">
      <section class="survey">
        <div class="survey__icon mb-2">
          <img src="assets/images/svg/form.svg" alt="تکمیل فرم شخصیت شناسی" />
        </div>
        <p class="survey__description">
          تست شخصیت دارای ۵۰ سوال است. در هر سوال ۴ ویژگی شخصیتی ذکر شده، عبارتی
          که به بهترین شکل شما را توصیف می نماید انتخاب نمایید. پاسخ صحیح و غلطی
          وجود ندارد.
        </p>
      </section>
    </div>
    <div class="col-12 mt-3 text-center">
      <a routerLink="/profile/survey/questions" class="btn btn-primary"
        >شروع آزمون شخصیت‌شناسی</a
      >
    </div>
  </main>
</div>
