<div class="container-lg">
  <div class="row py-5">
    <nav class="col-12 d-flex justify-content-between">
      <a routerLink="/">
        <img src="assets/images/svg/hamotaghi-full-logo.svg" alt="Logo" />
      </a>

      <ng-container *ngIf="isAuthorized$ | async; else loginActions">
        <div class="d-flex align-items-center">
          <a class="btn btn-primary mx-1" routerLink="/profile"> پروفایل </a>
          <a class="btn btn-danger" (click)="handleLogout()"> خروج </a>
        </div>
      </ng-container>
      <ng-template #loginActions>
        <div class="d-flex align-items-center">
          <a class="btn btn-primary" routerLink="/auth"> ورود </a>
        </div>
      </ng-template>
    </nav>
  </div>
</div>
